{% extends 'navigation_bar.html' %}
{% block  content %}
<div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
            <h2 class="mb-5">Education</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Khulna University of Engineering and Technology (KUET)</h3>
                <div class="subheading mb-3">Master of Science</div>
                <div>Computer Science and Engineering</div>
                <p></p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">July 2020 - Current</span>
            </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Bangladesh Army University of Science and Technology, Saidpur</h3>
                <div class="subheading mb-3">Bachelor of Science</div>
                <div>Computer Science and Engineering</div>
                <p>GPA: 3.63</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">November 2015 - December 2019</span>
            </div>
            </div>

        </div>
        </section>

        <hr class="m-0">

</div>
{% endblock %}