    {%extends 'navigation_bar.html'%}
    {%block content%}
    <!-- start About -->
    <div class="container-fluid p-0">

            <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
              <div class="my-auto">
                  <h1 class="mb-0">Mahmudul
                  <span class="text-primary">Hasan</span>
                  </h1>
                  <p class="text ml-2">Web Application Developer</p>
                  <hr>
                  <div class="subheading mb-5" style="text-align:justify;">
                    Looking forward to secure a position where I can efficiently contribute my skills
                    and abilities to the growth of the organization and build my professional career.
                    I consider myself as a life-long learner and always ready for new opportunities.
                    I believe that there is no end to learning. I look forward to increasing my
                    knowledge every day. I always try to keep myself alive so that I can continue to
                    do the work myself and inspire the people beside me and give courage.
                  </div>
                  <div class="button">
                    <a target="_blank" href="https://drive.google.com/file/d/18K1hPb6rjHcGl4ebT5nVNo8CeEi5A8B7/view?usp=sharing" class="btn btn-primary" style="color:#fff;">Download CV</a>
                  </div>
                  
              </div>
            </section>
          </div>
          
          {%endblock%}
          <!--End About -->