{% extends 'navigation_bar.html' %}
{% block  content %}
<div class="container-fluid p-0">
       <section class="resume-section ml-5" id="education">
        <div class="my-auto">
            <h2 class="mb-5">Projects</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Chaldalshobji- An Online Grocery Shop</h3>
                <p style="">A fully responsive ecommerce website based on grocery items. It is developed by using object oriented PHP and MySql.</p>
                <div class="subheading mb-3">Source Code Available :
                 <a target="_blank" href="https://github.com/iamMahmudul/chaldalshobji-an-online-shop">
                      <i class="fab fa-github"></i>
                  </a>
                  <div class="subheading mb-3">Hosted At :
                 <a target="_blank" href="https://github.com/iamMahmudul/chaldalshobji-an-online-shop">
                      Hosting Soon!
                  </a>
                  </div>
                </div>
            </div>
           </div> 
            <hr>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Clothing_pallette</h3>
                <p>A web application for representing a clothing company by displaying their products. Made with Php and Sql. </p>
                <div class="subheading mb-3">Source Code Available :
                 <a target="_blank" href="https://github.com/iamMahmudul/clothing_pallette">
                      <i class="fab fa-github"></i>
                  </a>
                <div class="subheading mb-3">Hosted At :
                 <a target="_blank" href="https://github.com/iamMahmudul/clothing_pallette">
                      Hosting Soon!
                  </a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
             <hr>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Simple to-Do Application</h3>
                <p style="">A simple django application where we can list our next to do items and delete when it is completed.</p>
                <div class="subheading mb-3">Source Code Available :
                 <a target="_blank" href="https://github.com/iamMahmudul/toDo">
                      <i class="fab fa-github"></i>
                  </a>
                  <div class="subheading mb-3">Hosted At :
                 <a target="_blank" href="https://github.com/iamMahmudul/toDo">
                      Hosting Soon!
                  </a>
                  </div>
                </div>
            </div>
           </div> 
            <hr>
        </div>
    </section>
</div>
{% endblock %}