{% extends 'navigation_bar.html' %}
{% block  content %}
<div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3"> Languages and Tools</div>
            <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
               <p style="font-size:25px;font-weight:bold">Bootstrap</p>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-js-square"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-python"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-php"></i>
            </li>
            <li class="list-inline-item">
               <p style="font-size:25px;font-weight:bold">django</p>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-git"></i>
            </li>
            </ul>

            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Design specification, Responsive Design</li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Create and test applications for websites</li>
            <li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Maintain and update websites</li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Collaborate with teams</li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Agile Development & Scrum</li>
            </ul>
        </div>
        </section>

        <hr class="m-0">

</div>
{% endblock %}